<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Minha Conta</title>

    <!-- css/bootstrap-->
    <link rel="stylesheet" href="CSS/contaconfig.css">
    <link rel="stylesheet" href="CSS/Header.Footer.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--icones-->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
    
    <!--fonte-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <a href="LandP-UVet.html#homeid" class="logo"><img src="CSS/imagens/logoUVet.png" /></a>

        <nav class="navbar">

            <div class="namuser">Olá, fulaninho</div>

            <a href="LandP-UVet.html#homeid">Home</a></li>
            <a href="LandP-UVet.html#abusid">Sobre</a>
            <a href="LandP-UVet.html#cardsid">Blog</a>
            <a href="#">Produtos</a>

            <nav class="navbaruser">
                <a href="">Perfil</a>
                <a href="#">Sair</a>
            </nav>

            <!-- <nav class="navbarlogin">
                <a href="Login-Cad-UVet.html">Entrar</a>
                <a href="Login-Cad-UVet.html?auto_check=true">Cadastrar</a>
            </nav>   </nav> -->

        </nav>

        <div class="nav-right">
            <a href="#"><i class='bx bxs-shopping-bag'></i></a>
            <div class="user-dropdown">
                <a href="Login-Cad-UVet.html"><i class='bx bxs-user-circle'></i></a>
                <div class="dropdown-content">
                    <!-- <a href="Login-Cad-UVet.html">Entrar</a>
                    <a href="Login-Cad-UVet.html?auto_check=true">Cadastrar</a> -->

                    <div class="namuser">Olá, fulaninho!</div>
                    <a href="contaconfig.html">Perfil</a>
                    <a href="#">Sair</a>

                </div>
            </div>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>

    <section class="data">
        <div class="container light-style flex-grow-1 container-p-y">
            <div class="card overflow-hidden">
                <div class="push"></div>
                <h4 class="font-weight-normal text-uppercase  py-3 mb-4">
                    Minha Conta
                </h4>
                <div class="row no-gutters row-bordered row-border-light">
                    <div class="col-md-3 pt-0">
                        <div class="list-group list-group-flush account-settings-links">
                            <a class="list-group-item list-group-item-action active" data-toggle="list"
                                href="#account-general">Informações</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list"
                                href="#account-change-password">Alterar Senha</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list"
                                href="#account-info">Histórico</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="account-general">

                                <hr class="border-light m-0">
                                <div class="card-body">
                                    <!--upar imagem-->
                                    <!--<div class="form-group">
                                        <label class="form-label">Username</label>
                                        <input type="text" class="form-control mb-1">
                                    </div>-->
                                    <div class="container mt-5 ">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-4 offset-md-2">
                                                    <div class="form-group">
                                                        <label class="form-label">Nome</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Sobrenome</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="col-md-4 offset-md-2">
                                                    <div class="form-group">
                                                        <label class="form-label">E-mail</label>
                                                        <input type="text" class="form-control mb-1">
                                                        <!-- cod. verificação e-mail, com jquery abaixo-->
                                                        <!--    <div class="alert alert-warning mt-3">
                                                            Your email is not confirmed. Please check your inbox.<br>
                                                            <a href="javascript:void(0)">Resend confirmation</a>
                                                        </div>-->
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="telefone">Telefone</label>
                                                        <input type="tel" class="form-control" id="telefone"
                                                            name="telefone">
                                                    </div>
                                                </div>

                                                <div class="col-md-8 offset-md-2">
                                                    <div class="form-group">
                                                        <label for="endereco">Endereço</label>
                                                        <input type="text" class="form-control" id="endereco"
                                                            name="endereco">
                                                    </div>
                                                </div>

                                                <div class="col-md-4 offset-md-2">
                                                    <div class="form-group">
                                                        <label class="form-label">Número</label>
                                                        <input type="number" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Complemento</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="col-md-4 offset-md-2">
                                                    <div class="form-group">
                                                        <label for="cidade">Cidade</label>
                                                        <input type="text" class="form-control" id="cidade"
                                                            name="cidade">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="estado">Estado</label>
                                                        <select id="estado" name="estado" class="form-control">
                                                            <option selected>Escolher...</option>
                                                            <option>Acre</option>
                                                            <option>Alagoas</option>
                                                            <!-- Adicione outros estados aqui -->
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="text-right mt-3">
                                        <button type="button" class="btn btn-primary">Salvar</button>&nbsp;
                                        <button type="button" class="btn btn-default">Cancelar</button>
                                        </br></br></br>
                                    </div>

                                </div>
                            </div>


                            <div class="tab-pane fade" id="account-change-password">
                                <div class="card-body pb-2">
                                    <br><br>
                                    <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                            <label class="form-label">Senha Atual</label>
                                            <input type="password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                            <label class="form-label">Nova Senha</label>
                                            <input type="password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-8 offset-md-2">
                                        <div class="form-group">
                                            <label class="form-label">Confirmar Senha</label>
                                            <input type="password" class="form-control">
                                        </div>
                                    </div>

                                </div>

                                <div class="text-right mt-3">
                                    <button type="button" class="btn btn-primary">Salvar</button>&nbsp;
                                    <button type="button" class="btn btn-default">Cancelar</button>
                                    </br></br></br>
                                </div>

                            </div>


                            <div class="tab-pane fade" id="account-info">
                                <div class="card-body pb-2">
                                    <div class="sec-hist">

                                        <div class="purch-sec">

                                            <img class="img-product"
                                                src="CSS/imagens/magnus-todo-dia-sabor-carne-caes-adultos.webp"
                                                alt="Produto 1">

                                            <div class="info-text" id="product-list">
                                                <h3>Nome do produto à venda</h3>
                                                <a class="btn-details-rgt" href="#">Detalhes</a>
                                                <span class="purch-stts">Entregue</span><br>
                                                <p class="delivery-dt">10 de nov. de 2023</p>
                                                <p>R$ 100,00</p>
                                                <a class="btn-details-bottom" href="#">Detalhes</a>
                                            </div>

                                            <hr class="border-light m-4">

                                        </div>

                                        <div class="purch-sec">

                                            <img class="img-product"
                                                src="CSS/imagens/magnus-todo-dia-sabor-carne-caes-adultos.webp"
                                                alt="Produto 1">

                                            <div class="info-text" id="product-list">
                                                <h3>Nome do produto à venda</h3>
                                                <a class="btn-details-rgt" href="#">Detalhes</a>
                                                <span class="purch-stts">Entregue</span><br>
                                                <p class="delivery-dt">10 de nov. de 2023</p>
                                                <p>R$ 100,00</p>
                                                <a class="btn-details-bottom" href="#">Detalhes</a>
                                            </div>

                                            <hr class="border-light m-4">

                                        </div>

                                        <div class="purch-sec">

                                            <img class="img-product"
                                                src="CSS/imagens/magnus-todo-dia-sabor-carne-caes-adultos.webp"
                                                alt="Produto 1">

                                            <div class="info-text" id="product-list">
                                                <h3>Nome do produto à venda</h3>
                                                <a class="btn-details-rgt" href="#">Detalhes</a>
                                                <span class="purch-stts">Entregue</span><br>
                                                <p class="delivery-dt">10 de nov. de 2023</p>
                                                <p>R$ 100,00</p>
                                                <a class="btn-details-bottom" href="#">Detalhes</a>
                                            </div>

                                            <hr class="border-light m-4">

                                        </div>

                                        <div class="purch-sec">

                                            <img class="img-product"
                                                src="CSS/imagens/magnus-todo-dia-sabor-carne-caes-adultos.webp"
                                                alt="Produto 1">

                                            <div class="info-text" id="product-list">
                                                <h3>Nome do produto à venda</h3>
                                                <a class="btn-details-rgt" href="#">Detalhes</a>
                                                <span class="purch-stts">Entregue</span><br>
                                                <p class="delivery-dt">10 de nov. de 2023</p>
                                                <p>R$ 100,00</p>
                                                <a class="btn-details-bottom" href="#">Detalhes</a>
                                            </div>

                                            <hr class="border-light m-4">

                                        </div>

                                        <div class="purch-sec">

                                            <img class="img-product"
                                                src="CSS/imagens/magnus-todo-dia-sabor-carne-caes-adultos.webp"
                                                alt="Produto 1">

                                            <div class="info-text" id="product-list">
                                                <h3>Nome do produto à venda</h3>
                                                <a class="btn-details-rgt" href="#">Detalhes</a>
                                                <span class="purch-stts">Entregue</span><br>
                                                <p class="delivery-dt">10 de nov. de 2023</p>
                                                <p>R$ 100,00</p>
                                                <a class="btn-details-bottom" href="#">Detalhes</a>
                                            </div>

                                            <hr class="border-light m-4">

                                        </div>

                                        <div class="purch-sec">

                                            <img class="img-product"
                                                src="CSS/imagens/magnus-todo-dia-sabor-carne-caes-adultos.webp"
                                                alt="Produto 1">

                                            <div class="info-text" id="product-list">
                                                <h3>Nome do produto à venda</h3>
                                                <a class="btn-details-rgt" href="#">Detalhes</a>
                                                <span class="purch-stts">Entregue</span><br>
                                                <p class="delivery-dt">10 de nov. de 2023</p>
                                                <p>R$ 100,00</p>
                                                <a class="btn-details-bottom" href="#">Detalhes</a>
                                            </div>

                                            <hr class="border-light m-4">

                                        </div>

                                        <div class="purch-sec">

                                            <img class="img-product"
                                                src="CSS/imagens/magnus-todo-dia-sabor-carne-caes-adultos.webp"
                                                alt="Produto 1">

                                            <div class="info-text" id="product-list">
                                                <h3>Nome do produto à venda</h3>
                                                <a class="btn-details-rgt" href="#">Detalhes</a>
                                                <span class="purch-stts">Entregue</span><br>
                                                <p class="delivery-dt">10 de nov. de 2023</p>
                                                <p>R$ 100,00</p>
                                                <a class="btn-details-bottom" href="#">Detalhes</a>
                                            </div>

                                            <hr class="border-light m-4">

                                        </div>

                                        <div class="d-flex justify-content-end">
                                            <div id="pagination-container"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
    </section>


    <div class="footer">

        <div class="footer-box">
            <h3>Nós Aceitamos</h3>
            <div class="cartoes">
                <img src="CSS/imagens/cartoes.png" alt="">
            </div>
        </div>

        <div class="footer-box">
            <h3>Categorias</h3>
            <a href="#">Cachorro</a> <!--fazer classe de ícones-->
            <a href="#">Gato</a>
            <a href="#">Diversos</i></a>
            <a href="#">Farmácia</i></a>
        </div>

        <div class="footer-box">
            <h3>Mídia Social</h3>
            <div class="social">
                <a href="#"><i class='bx bxl-instagram'></i></a> <!--fazer classe de ícones-->
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
            </div>
        </div>

        <div class="footer-box">
            <h3>Informações da loja</h3>
            
            
            <div class="icon-text">
                <div class="icon-container">
                    <i class="bx bx-home-heart"></i>
                </div>
                <div class="text-cont">
                    <span>Espedito Izídio Andrade, 191A</span>
                    <span>Metalúrgicos, Osasco</span>
                </div>
            </div>

            
            <div class="icon-text">
                <div class="icon-container">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="text-cont">
                    <span>uvet@outlook.com</span>
                </div>
            </div>

            <div class="icon-text">
                <div class="icon-container">
                    <i class="bx bxl-whatsapp"></i>
                </div>
                <div class="text-cont">
                    <span>(11) 94080-1600</span>
                </div>
            </div>
            

        </div>

    </div>

    <!-- <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                        processo de decodificação de endereços de e-mail-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="JS/paginacao.js"> </script>
    <script src="JS/Login-Cad.js"></script>
    <script src="JS/headeracoes.js"></script>

</body>

</html>