<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, orientation=portrait">

    <!--icones-->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--fonte-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="CSS/LP-swiper-bundle.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="CSS/LandP-UVet.css" />


    <title>Landing Page UVet</title>

</head>

<body>

    <!-- cabeçalho -->
    <header>
        <a href="HTMLUvet.html#homeid" class="logo"><img src="CSS/imagens/logoUVet.png" /></a>

        <nav class="navbar">

            <!-- <div class="namuser">Olá, fulaninho</div> -->

            <a href="#homeid">Home</a></li>
            <a href="#abusid">Sobre</a>
            <a href="#cardsid">Blog</a>
            <a href="#">Produtos</a>

            <!-- <nav class="navbaruser"> 
                <a href="#">Perfil</a>
                <a href="#">Sair</a>
            </nav> -->

            <nav class="navbarlogin">
                <a href="Login-Cad-UVet.html">Entrar</a>
                <a href="Login-Cad-UVet.html?auto_check=true">Cadastrar</a>
            </nav>

        </nav>

        <div class="nav-right">
            <a href="#"><i class='bx bxs-shopping-bag'></i></a>
            <div class="user-dropdown">
                <a href="Login-Cad-UVet.html"><i class='bx bxs-user-circle'></i></a>
                <div class="dropdown-content">
                    <a href="Login-Cad-UVet.html">Entrar</a>
                    <a href="Login-Cad-UVet.html?auto_check=true">Cadastrar</a>

                    <!-- <div class="namuser">Olá, fulaninho!</div>
                    <a href="contaconfig.html">Perfil</a>
                    <a href="#">Sair</a> -->
                </div>
            </div>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>

    <!-- Texto-Home -->
    <section class="home" id="homeid">
        <div class="home-text">
            <h5>Loja Online</h5>
            <h1>UVet</h1>
            <p class="p1"> Confira produtos cuidadosamente selecionados pela UVet<br>
                com a finalidade de atender às necessidades do seu pet!</p>
            <p class="p2"> Confira itens selecionados<br>
                para atender ao seu pet!</p>
            <a href="#" class="btn">Ir à loja</a>
        </div>
    </section>

    <div id="abusid"></div>

    <!-- Sobre Nós -->
    <section class="abus">
        <div class="abus-img">
            <img src="CSS/imagens/abus-cel.jpg">
        </div>
        <div class="abus-text">
            <h5>sobre nós</h5>
            <h2>Serviço de Excelência</h2>
            <p>
                Em sua história de cuidado e dedicação aos animais, a <b>UVET</b> está na busca contínua por oferecer o
                melhor atendimento e cuidado aos pets.
                A atenção com os nosso artigos visa à disponibilidade de produtos de alta qualidade, prezando não apenas
                pela diversão segura,
                mas também pela saúde e bem-estar dos nossos companheiros. A possibilidade da aquisição de produtos
                online permite uma nova forma de cumprir a <b>MISSÃO</b> da UVET, que é oferecer cuidados veterinários
                excepcionais, promovendo o bem-estar e a felicidade dos animais de estimação, enquanto apoiamos e
                educamos seus tutores. Tains condutas estão alinhadas à nossa <b>VISÃO</b> de ser a clínica veterinária
                referência, reconhecida pelo compromisso inabalável com a saúde animal e pela ligação genuína que
                criamos com os proprietários.<br><br>
                <b>VALORES</b>:<br>
                * Compromisso Ético;<br>
                * Empatia;<br>
                * Excelência Médica;<br>
                * Trabalho em Equipe;<br>
                * Cuidado Personalizado.
            </p>
        </div>

    </section>

    <div id="cardsid"></div>

    <!-- slide de cartoes -->
    <section class="cardsec">

        <div class="cardtitle-txt">
            <h5>Blog</h5>
            <h2>Saiba Mais</h2>
        </div>


        <div class="container swiper">
            <div class="slide-container">
                <div class="card-wrapper swiper-wrapper">

                    <div class="card swiper-slide">
                        <div class="image-box">
                            <img src="CSS/imagens/previewCS.jpg" alt="">
                        </div>
                        <div class="sinopse-details">
                            <div class="sinopse">
                                <p class="sinopse-txt">Qual ração é melhor: Magnus ou Special Dog? Veja nossa avaliação.
                                </p>
                                <div class="button">
                                    <button class="btnler">Ler</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-box">
                            <img src="CSS/imagens/previewCS.jpg" alt="">
                        </div>
                        <div class="sinopse-details">
                            <div class="sinopse">
                                <p class="sinopse-txt">Qual ração é melhor: Magnus ou Special Dog? Veja nossa avaliação.
                                </p>
                                <div class="button">
                                    <button class="btnler">Ler</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-box">
                            <img src="CSS/imagens/previewCS.jpg" alt="">
                        </div>
                        <div class="sinopse-details">
                            <div class="sinopse">
                                <p class="sinopse-txt">Qual ração é melhor: Magnus ou Special Dog? Veja nossa avaliação.
                                </p>
                                <div class="button">
                                    <button class="btnler">Ler</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-box">
                            <img src="CSS/imagens/previewCS.jpg" alt="">
                        </div>
                        <div class="sinopse-details">
                            <div class="sinopse">
                                <p class="sinopse-txt">Qual ração é melhor: Magnus ou Special Dog? Veja nossa avaliação.
                                </p>
                                <div class="button">
                                    <button class="btnler">Ler</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-box">
                            <img src="CSS/imagens/previewCS.jpg" alt="">
                        </div>
                        <div class="sinopse-details">
                            <div class="sinopse">
                                <p class="sinopse-txt">Qual ração é melhor: Magnus ou Special Dog? Veja nossa avaliação.
                                </p>
                                <div class="button">
                                    <button class="btnler">Ler</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>

        <script src="JS/LP-swiper-bundle.min.js"></script>
        <script src="JS/LandP-UVet.js"></script>
        <script src="JS/headeracoes.js"></script>

    </section>

    <section class="footer">

        <div class="footer-box">
            <h3>Nós Aceitamos</h3>
            <div class="cartoes">
                <img src="imagens/cartoes.png" alt="">
            </div>
        </div>

        <div class="footer-box">
            <h3>Categorias</h3>
            <a href="#">Cachorro</a>
            <a href="#">Gato</a>
            <a href="#">Diversos</i></a>
            <a href="#">Farmácia</i></a>
        </div>

        <div class="footer-box">
            <h3>Mídia Social</h3>
            <div class="social">
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
            </div>
        </div>

        <div class="footer-box">
            <h3>Informações da loja</h3>
          
            <div class="icon-text">
                <div class="icon-container">
                    <i class="bx bx-home-heart"></i>
                </div>
                <div class="text-cont">
                    <span>Espedito Izídio Andrade, 191A</span>
                    <span>Metalúrgicos, Osasco</span>
                </div>
            </div>

            
            <div class="icon-text">
                <div class="icon-container">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="text-cont">
                    <span>uvet@outlook.com</span>
                </div>
            </div>

            <div class="icon-text">
                <div class="icon-container">
                    <i class="bx bxl-whatsapp"></i>
                </div>
                <div class="text-cont">
                    <span>(11) 94080-1600</span>
                </div>
            </div>
            
        </div>

    </section>
</body>

</html>