<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Carrinho de Compras</title>
  <link rel="stylesheet" href="/CSS/Header.Footer.css" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />


  <!-- CSS-->
  <link rel="stylesheet" href="/CSS/Header.Footer.css">
  <link rel="stylesheet" href="/CSS/carrinho.css">

  <!--icones-->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />

  <!--fonte-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>

  <header>
        <a href="/" class="logo"><img th:src="@{/imagens/logoUVet.png}"/></a>

        <nav class="navbar">

            <!-- <div class="namuser">Olá, fulaninho</div> -->

            <a href="/">Home</a></li>
            <a href="/">Sobre</a>
            <a href="/projetos/blog">Blog</a>
            <a href="/categoria/diversos">Produtos</a>

            <!--<nav class="navbaruser"> 
                <a href="#">Perfil</a>
                <a href="#">Sair</a>
            </nav> -->

            <nav class="navbarlogin">
                <a href="/cadastro/entrar">Entrar</a>
                <a href="/cadastro/cadastrar">Cadastrar</a>
                <a href="/cadastro/entrar">Administrador</a>
            </nav>

        </nav>

        <div class="nav-right">
            <a href="#" id="open-cart"><i class='bx bxs-shopping-bag'></i></a>
            <div class="user-dropdown">
                <a href="Login-Cad-UVet.html"><i class='bx bxs-user-circle'></i></a>
                <div class="dropdown-content">
                    <a href="/cadastro/entrar">Entrar</a>
                    <a href="/cadastro/cadastrar">Cadastrar</a>
                    <a href="/cadastro/entrar">Administrador</a>
                   

                    <!--    <div class="namuser">Olá, fulaninho!</div>
                     <a href="#">Perfil</a>
                     <a href="#">Sair</a>  -->
                </div>
            </div>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>



  <main>
    <div class="conteudo">
      <section>
        <table>
          <table >
            <tr class="produto1">
              <td>
                <div class="produto" >
                  <img src="https://picsum.photos/100/120" alt="" />
                  <div class="info" >
                    <div class="nome-produto" >Produto 1</div>
                    <div class="categoria" >Categoria 1</div>
                  </div>
                </div>
              </td>
              <td><span class="cart-produto" >R$ 99,00</span></td>
              <td>
                <div class="quantidade">
                  <button  onclick="decrementQuantity(this)"><i class="bx bx-minus"></i></button>
                  <input type="number" value="1" min="0" max="200" class="product-qtd-input" readonly>
                  <button onclick="incrementQuantity(this)"><i class="bx bx-plus"></i></button>
                </div>
              </td>
            </tr>
            <tr class="produto1">
              <td>
                <div class="produto" >
                  <img src="https://picsum.photos/100/120" alt="" />
                  <div class="info" >
                    <div class="nome-produto" >Produto 1</div>
                    <div class="categoria" >Categoria 1</div>
                  </div>
                </div>
              </td>
              <td><span class="cart-produto" >R$ 99,00</span></td>
              <td>
                <div class="quantidade">
                  <button  onclick="decrementQuantity(this)"><i class="bx bx-minus"></i></button>
                  <input type="number" value="1" min="0" max="200" class="product-qtd-input" readonly>
                  <button onclick="incrementQuantity(this)"><i class="bx bx-plus"></i></button>
                </div>
              </td>
            </tr>
             <tr class="produto1">
              <td>
                <div class="produto" >
                  <img src="https://picsum.photos/100/120" alt="" />
                  <div class="info" >
                    <div class="nome-produto" >Produto 1</div>
                    <div class="categoria" >Categoria 1</div>
                  </div>
                </div>
              </td>
              <td><span class="cart-produto" >R$ 99,00</span></td>
              <td>
                <div class="quantidade">
                  <button  onclick="decrementQuantity(this)"><i class="bx bx-minus"></i></button>
                  <input type="number" value="1" min="0" max="200" class="product-qtd-input" readonly>
                  <button onclick="incrementQuantity(this)"><i class="bx bx-plus"></i></button>
                </div>
              </td>
            </tr>
          </table>
        </table>
      </section>
      <aside>
        <div class="caixa">

          <div class="informacao">
            
            <div>
              <button id="cupom-desconto">
                Adicionar cupom de desconto
                <i class="bx bx-right-arrow-alt"></i>
              </button>

            </div>
          </div>
          <footer>

            <div id="carrinho-de-compras">
              <ul id="lista-de-compras"></ul>
              <p><span id="total-carrinho">R$ 0.00</span></p>

            </div>
          </footer>
        </div>
        <a href=/pedidos/frete><button class="botao-finalizar">Finalizar Compra</button></a>
      </aside>
    </div>
  </main>

  <section class="footer">

        <div class="footer-box">
            <h3>Nós Aceitamos</h3>
            <div class="cartoes">
                <img th:src="@{/imagens/cartoes.png}"/>
            </div>
        </div>

        <div class="footer-box">
            <h3>Categorias</h3>
            <a href="categoria/cachorro">Cachorro</a>
            <a href="categoria/gato">Gato</a>
            <a href="categoria/diversos">Diversos</i></a>
            <a href="categoria/farmacia">Farmácia</i></a>
        </div>

        <div class="footer-box">
            <h3>Mídia Social</h3>
            <div class="social">
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
            </div>
        </div>

        <div class="footer-box">
            <h3>Informações da loja</h3>
          
            <div class="icon-text">
                <div class="icon-container">
                    <i class="bx bx-home-heart"></i>
                </div>
                <div class="text-cont">
                    <span>Espedito Izídio Andrade, 191A</span>
                    <span>Metalúrgicos, Osasco</span>
                </div>
            </div>

            
            <div class="icon-text">
                <div class="icon-container">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="text-cont">
                    <span>uvet@outlook.com</span>
                </div>
            </div>

            <div class="icon-text">
                <div class="icon-container">
                    <i class="bx bxl-whatsapp"></i>
                </div>
                <div class="text-cont">
                    <span>(11) 94080-1600</span>
                </div>
            </div>
            
        </div>

    </section>

  <script src="/JS/carrinho.js"></script>
  <script src="/JS/headeracoes.js"></script>
  
</body>

</html>