<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, orientation=portrait">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conta UVet</title>

    <!-- CSS-->
    <link rel="stylesheet" href="/CSS/Login-Cad-Uvet.css">
    <link rel="stylesheet" href="/CSS/Header.Footer.css">

    <!--icones-->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />

    <!--fonte-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

    <header>
        <a href="/" class="logo"><img th:src="@{/imagens/logoUVet.png}"/></a>

        <nav class="navbar">
            
            <a href="/">Home</a></li>
            <a href="/">Sobre</a>
            <a href="/projetos/blog">Blog</a>
            <a href="/categoria/diversos">Produtos</a>

            <nav class="navbarlogin">
                <a href="/cadastro/entrar">Entrar</a>
                <a href="/cadastro/cadastrar">Cadastrar</a>
                
            </nav>

        </nav>

        <div class="nav-right">
            <a href="#"><i class='bx bxs-shopping-bag'></i></a>
            <div class="user-dropdown">
                <a href="cadastro/entrar"><i class='bx bxs-user-circle'></i></a>
                <div class="dropdown-content">
                    <a href="/cadastro/entrar">Entrar</a>
                	<a href="/cadastro/cadastrar">Cadastrar</a>
                	<a href="/cadastro/entrar">Administrador</a>
                	
                </div>
            </div>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>

    <section class="formsec">
        <div class="container">
            <input type="checkbox" id="check">
            <div class="login form">
                <div class="title">Entrar</div>
                <form action="/cadastro/autenticar" method="post">
                    <input type="text" placeholder="Inserir e-mail" name="email" required>
                    <input type="password" placeholder="Inserir senha" name="senha" required>
                    <a href="/cadastro/recupera-senha">Esqueceu a senha?</a>
                    <input type="submit" class="button" value="Login">
                </form>
                <div class="signup">
                    <span class="signup">Não possui uma conta?
                        <a href="/cadastro/cadastrar"><label>Cadastre-se</label></a>
                    </span>
                </div>
            </div>
        </div>
    </section>


    <div class="footer">

        <div class="footer-box">
            <h3>Nós Aceitamos</h3>
            <div class="cartoes">
                <img th:src="@{/imagens/cartoes.png}">
            </div>
        </div>

        <div class="footer-box">
            <h3>Categorias</h3>
            <a href="#">Cachorro</a> <!--fazer classe de ícones-->
            <a href="#">Gato</a>
            <a href="#">Diversos</i></a>
            <a href="#">Farmácia</i></a>
        </div>

        <div class="footer-box">
            <h3>Mídia Social</h3>
            <div class="social">
                <a href="#"><i class='bx bxl-instagram'></i></a> <!--fazer classe de ícones-->
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
            </div>
        </div>

        <div class="footer-box">
            <h3>Informações da loja</h3>
           
            <div class="icon-text">
                <div class="icon-container">
                    <i class="bx bx-home-heart"></i>
                </div>
                <div class="text-cont">
                    <span>Espedito Izídio Andrade, 191A</span>
                    <span>Metalúrgicos, Osasco</span>
                </div>
            </div>

            
            <div class="icon-text">
                <div class="icon-container">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="text-cont">
                    <span>uvet@outlook.com</span>
                </div>
            </div>

            <div class="icon-text">
                <div class="icon-container">
                    <i class="bx bxl-whatsapp"></i>
                </div>
                <div class="text-cont">
                    <span>(11) 94080-1600</span>
                </div>
            </div>
        </div>

    </div>

    <script src="JS/Login-Cad.js"></script>
    <script src="JS/headeracoes.js"></script>

</body>

</html>